html/public/tools/phpmyadmin5/tmp/
html/public/tools/phpmyadmin5/doc/
html/public/tools/phpmyadmin5/doc/

html/website/
html/service/
extends/mariadb/data/*
extends/postgres/data/*

html/nginx.conf.d/*.host.conf
html/nginx.conf.d/*.info.conf
html/website/xrayr-panel
html/website/wordpress-sqlite
html/website/think-sspanel
html/website/think-admin



